<p>maps works!</p>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg7qd4aSOs4pJS28MZLnfUmh8kcf39pw4&libraries=places,geometry&callback=initMap" async defer></script>

<div>
  <input
  type="text"
  class="my-search-box"
  (keydown.enter)="$event.preventDefault()"
  placeholder="Search Location"
  type="text"
  #search
/></div>
<br>
  <div *ngIf="apiLoaded | async">

      <google-map
      #myGoogleMap
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  >
  <map-marker
  [position]="center"


  >
  </map-marker>
    </google-map>
  </div>

  <div id="map"></div>