<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-toolbar color="">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon >menu</mat-icon>
    </button>
    <a class="removeunderline" href="/home"><div>
    <img
    srcset="assets/images/angular-js.png"
    height="45"
    alt=""  
  />
    angular
  </div>
  </a>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of menus" routerLink="{{ menu.link }}">
        <mat-icon class= "mat-icon-list" matListItemIcon>{{menu.icon}}</mat-icon>
        <div matListItemTitle >{{menu.name }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      
      <router-outlet></router-outlet>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>

      

      


